# H1: Data Science Tools and Ecosystem

In [ ]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages that data scientists use
- Common libraries used by data scientists
- Examples of arithmetic expressions in Python

## Author
Jason C.

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch

| Data Science Tools |
|--------------------|
| RStudio |
| Jupyter Lab |
| Appache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335